:root {
  --bg-element-color: #82deff;
}

* {
  box-sizing: border-box;
}

@keyframes up { from {top: 100%;} to {top: 0%}}
@keyframes side-to-side {from {margin-left: 0px} to {margin-left: calc(var(--max-bubble-width) - 50px)}}
@keyframes bubble-flow {
  0% {
    transform: translate(0, 250px)}
  100% {
    transform: translate(0, -250px)}
  }
@keyframes bubble-opacity {
  0% {opacity: 20%}
  40% {opacity: 100%}
  70% {opacity: 100%}
  100% {opacity: 0%}
}


.sections {
  /* display: block; */
  /* border: 2px solid rebeccapurple; */
  /* height: 400px; */
}

.top {
  display: block;
  height: 33vh;
  border: 2px solid rebeccapurple;
  overflow: hidden;
}

.middle {
  height: 33%;
  border: 2px solid rebeccapurple;
}

.bottom {
  height: 33%;
  border: 2px solid rebeccapurple;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: grey;
  position: relative;
  bottom: 40px;
  left: 50px;
}

.textbox {
  display: flex;
  width: 350px;
  height: 100px;
  background-color: teal;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  color: white;
  font-size: 24px;
  position: relative;
}

._top {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgrey;
  height: inherit;
  align-content: center;
}

.bubbles-container {
  /* this container just points to the visual object
  and removes it from the DOM */
  --max-bubble-width: 100px;
  width: var(--max-bubble-width);
  position: fixed;
  height: 100%;
  overflow: visible;
}

.bubbles {
  /* bubbles defines the visual object and moves it  */
  border: 5px solid var(--bg-element-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  top: 120%;
  /* removes object from DOM */
  position: fixed;
  animation: 7s ease-in infinite up, 1s linear alternate infinite side-to-side;
}

.bubbles2 {
  /* bubbles defines the visual object and moves it  */
  border: 5px solid var(--bg-element-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  top: 100%;
  left: -120px;
  /* removes object from DOM */
  position: fixed;

  /* ideal is 3s for every 150px traveled, so 50px/s, keep animation times same*/
  animation: var(--animation-duration) linear infinite bubble-flow, var(--animation-duration) linear infinite bubble-opacity;
}

.s1 {
  width: 40px;
  height: 40px;
}

#b1 {
  left: 100px;
  border: 5px solid black;
}

#b2 {
  left: 300px;
}

#b3 {
  left: 600px;
  --animation-duration: 5s;
  top: 10%;

}

#b4 {
  left: 800px;
  --animation-duration: 2s;
}
